<!--Navigation-->
<nav class="navbar navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="#">
      <img src="../project2/public/images/Picture1.png" width="125px" height="62.50px" alt="">
    </a>
    <form class="form-inline">
      <a class="btn btn-outline-success my-2 my-sm-0" href="/auth/google">Google Account Sign In</a>
    </form>
</nav>
<!--End Navigation-->

<!--Card Row 1-->
<div class="row">
<div class="card-group">
        <div class="card">
          <img src="../project2/images/weather.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Weather</h5>
            <input type=text class="weather_lookup" placeholder="city, zip, or place"><button><i class="fas fa-search"></i></button>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

        <div class="card">
          <img src="../project2/images/news.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">News</h5>
            <input type=text class="news_lookup" placeholder="Search"><button><i class="fas fa-search"></i></button>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

        <div class="card">
          <img src="../project2/images/stocks.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Stocks</h5>
            <input type=text class="quote_lookup" placeholder="Quote Lookup"><button><i class="fas fa-search"></i></button>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
</div>
</div>
<!--Card Row 1 End-->

<!--Card Row 2-->
<div class="row">
    <div class="card-group">
        <div class="card">
            <img src="../project2/images/calendar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Calendar</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
  
          <div class="card">
            <img src="../project2/images/tast_list.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Task List</h5>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>

          <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">About DailyDash</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
          </div>
  </div>
  </div>
<!--Card Row 2 End-->

<!--Footer-->
<footer>
<div class="container-fluid">
<div class="row text-center">
<div class="col-12">
    <hr class="light-100">
    <h6>&COPY; 2019 DAILYDASH, INC. ALL RIGHTS RESERVED.</h6>
</div>
</div>
</div>
</footer>
<!--Footer End-->