<!--Navigation-->
<nav class="navbar navbar-dark bg-dark text-white">
    <a class="navbar-brand mx-auto" href="#">
      {{!-- <img src="/images/Picture1.png" width="150px" height="75px" alt=""> --}}
      DailyDash
    </a>
    <form class="form-inline">
      {{#if user}}
      <h2 id="user"data={{user.id}}>Welcome, {{user.givenName}}!</h2>
      
      {{else}}
      <a class="btn btn-outline-success my-2 my-sm-0" id="signIn" href="/auth/github">Google Account Sign In</a>
    {{/if}}
    </form>
</nav>
<!--End Navigation-->

<!--Card Row 1-->
<div class="row remove-margin">
<div class="card-group section-one">
        <div class="card">
          <img src="/images/weather.jpg" class="card-img-top weather-img" alt="...">
          <a name="weather"></a>
          <a href="#weather" id="max" align="right">
            <i class="fas fa-expand expand" align="right" alt="expand" style="padding: 10px 15px;"></i>
          </a>
          <i class="fas fa-compress mini" align="right" alt="expand" style="padding: 10px 15px;"></i>
          <div class="card-body">
            <h3 class="card-title">Weather</h3>
            <input type="text" class="weather_lookup" placeholder="zip code" minlength="5" maxlength="5"><button id="weather"><i class="fas fa-search"></i></button>
            <p id="weatherText" class="card-text center-align">Get your <strong>5 Day Forcast</strong>!<br> Please enter zip code in the search bar above.</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/news.jpg" class="card-img-top news" alt="...">
          <a name="news"></a>
          <a href="#news" id="max" align="right">
            <i class="fas fa-expand expand" align="right" alt="expand" style="padding: 10px 15px;"></i>
          </a>
          <i class="fas fa-compress mini" align="right" alt="expand" style="padding: 10px 15px;"></i>
          <div class="card-body">
            <h3 class="card-title news-header">News</h3>
            <input type="text" class="news_lookup" placeholder="Search"><button id="news"><i class="fas fa-search"></i></button>
            <p class="card-text n scroll">Get breaking news headlines, and search for articles from over 30,000 news sources and blogs</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/stocks.jpg" class="card-img-top stocks-img" alt="...">
          <a name="stocks"></a>
          <a href="#stocks" id="max" align="right">
            <i class="fas fa-expand expand" align="right" alt="expand" style="padding: 10px 15px;"></i>
          </a>
          <i class="fas fa-compress mini" align="right" alt="expand" style="padding: 10px 15px;"></i>
          <div class="card-body">
            <h3 class="card-title">Stocks</h3>
            <input type="text" class="quote_lookup" placeholder="Quote Lookup"><button id="stock"><i class="fas fa-search"></i></button>
            <p id="stockText" class="card-text">Check companies new and stock information.  Please enter the company stock ticker above.
          </div>
        </div>
</div>
</div>

<!--Card Row 1 End-->

<!--Card Row 2-->
<div class="row remove-margin">
    <div class="card-group section-two">
        <div class="card">
            <img src="/images/events1.jpg" class="card-img" alt="Events">
            <div class="card-body">
              <h3 class="card-title">Upcoming Events</h3>
              <p class="card-text">Party on Party People</p>
            </div>
          </div>
  
          <div class="card">
            <img src="/images/tast_list.jpg" class="card-img" alt="Tasks">
            <div class="card-body">
              <h3 class="card-title">Task List</h3>
              <form>
                <input type="text" id="to-do" placeholder="Your task..."><button id="add-to-do"><i class="fas fa-plus"></i></button>
              </form>
              <hr>
              <div id="to-dos">
              
              </div>
            </div>
          </div>
  </div>
  </div>
<!--Card Row 2 End-->

{{!-- Modal for removing tasks --}}

<div class="modal" id="confirmDelete" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Please Confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <span id="deleteItem"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, cancel.</button>
        <button type="button" id="confirm" class="btn btn-primary">Yes, all done!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="notification" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Oops!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Looks like you didn't fill out our friendly box. Pop a word in there and try again!</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok!</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="wrongZip" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Oops!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Uh oh! That doesn't seem to be a zip code we recognize. Double check it's correct and try again.</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok!</button>
      </div>
    </div>
  </div>
</div>

<!--Footer-->
<footer>
<div class="container-fluid">
<div class="row text-center">
<div class="col-12">
    <h6>&COPY; 2019 DAILYDASH, INC. ALL RIGHTS RESERVED.</h6>
</div>
</div>
</div>
</footer>
<!--Footer End-->