<!--Navigation-->
<nav class="navbar navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="#">
      <img src="/images/Picture1.png" width="125px" height="62.50px" alt="">
    </a>
    <form class="form-inline">
      <a class="btn btn-outline-success my-2 my-sm-0" href="/auth/google">Google Account Sign In</a>
    </form>
</nav>
<!--End Navigation-->

<!--Card Row 1-->
<div class="row">
<div class="card-group">
        <div class="card">
          <img src="/images/weather.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Weather</h3>
            <input type=text class="weather_lookup" placeholder="city, zip, or place"><button><i class="fas fa-search"></i></button>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/news.jpg" class="card-img-top news" alt="...">
          <div class="card-body">
            <h3 class="card-title">News</h3>
            <input type=text class="news_lookup" placeholder="Search"><button id="news"><i class="fas fa-search"></i></button>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/stocks.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title">Stocks</h3>
            <input type=text class="quote_lookup" placeholder="Quote Lookup"><button><i class="fas fa-search"></i></button>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
</div>
</div>

<!--Card Row 1 End-->

<!--Card Row 2-->
<div class="row">
    <div class="card-group">
        <div class="card">
            <img src="/images/calendar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Calendar</h3>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
  
          <div class="card">
            <img src="/images/tast_list.jpg" class="card-img-top" alt="Calendar">
            <div class="card-body">
              <h3 class="card-title">Task List</h3>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
  </div>
  </div>
<!--Card Row 2 End-->

<!--Footer-->
<footer>
<div class="container-fluid">
<div class="row text-center">
<div class="col-12">
    <h6>&COPY; 2019 DAILYDASH, INC. ALL RIGHTS RESERVED.</h6>
</div>
</div>
</div>
</footer>
<!--Footer End-->