<!--Navigation-->
<nav class="navbar navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="#">
      <img src="/images/Picture1.png" width="150px" height="75px" alt="">
    </a>
    <form class="form-inline">
      {{#if user}}
      <h2 id="user"data={{user.authId}}>Welcome, {{user.givenName}}!</h2>
      {{else}}
      <a class="btn btn-outline-success my-2 my-sm-0" id="signIn" href="/auth/google">Google Account Sign In</a>
    {{/if}}
    </form>
</nav>
<!--End Navigation-->

<!--Card Row 1-->
<div class="row remove-margin">
<div class="card-group section-one">
        <div class="card">
          <img src="/images/weather.jpg" class="card-img-top weather-img" alt="...">
          <div class="card-body">
            <h3 class="card-title">Weather</h3>
            <input type="text" class="weather_lookup" placeholder="zip code"><button id="weather"><i class="fas fa-search"></i></button>
            <p id="weatherText" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/news.jpg" class="card-img-top news" alt="...">
          <i class="fas fa-expand expand" align="right" alt="expand" style="padding: 10px 15px;"></i>
          <i class="fas fa-compress mini" align="right" alt="expand" style="padding: 10px 15px;"></i>
          <div class="card-body">
            <h3 class="card-title news-header">News</h3>
            <input type="text" class="news_lookup" placeholder="Search"><button id="news"><i class="fas fa-search"></i></button>
            <p class="card-text n scroll">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>

        <div class="card">
          <img src="/images/stocks.jpg" class="card-img-top stocks-img" alt="...">
          <div class="card-body">
            <h3 class="card-title">Stocks</h3>
            <input type=text class="quote_lookup" placeholder="Quote Lookup"><button id="stock"><i class="fas fa-search"></i></button>
            <p id="stockText" class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
</div>
</div>

<!--Card Row 1 End-->

<!--Card Row 2-->
<div class="row remove-margin">
    <div class="card-group section-two">
        <div class="card">
            <img src="/images/events1.jpg" class="card-img-top" alt="Events">
            <div class="card-body">
              <h3 class="card-title">Upcoming Events</h3>
              <p class="card-text">Party on Party People</p>
            </div>
          </div>
  
          <div class="card">
            <img src="/images/tast_list.jpg" class="card-img-top" alt="Tasks">
            <div class="card-body">
              <h3 class="card-title">Task List</h3>
              <form>
                <input type="text" id="to-do" placeholder="Your task..."><button id="add-to-do" class="btn btn-info btn-sm mx-2">Add!</button>
              </form>
              <hr>
              <div id="to-dos">
              
              </div>
            </div>
          </div>
  </div>
  </div>
<!--Card Row 2 End-->

<!--Footer-->
<footer>
<div class="container-fluid">
<div class="row text-center">
<div class="col-12">
    <h6>&COPY; 2019 DAILYDASH, INC. ALL RIGHTS RESERVED.</h6>
</div>
</div>
</div>
</footer>
<!--Footer End-->