@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

footer {
    background-color: #424242;
    color: #eeeeee;
    padding-top: 2rem;
}
footer a {
    color: #eeeeee;
}
