@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/* body {
    min-height: 100%;
} */

footer {
    background-color: #424242;
    color: #eeeeee;
    padding-top: 2rem;
}
footer a {
    color: #eeeeee;
}

.logout {
    display: inline-block;
}

.navbar-brand {
    text-align: center;
    font-size: 2rem;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 0;
    /* width: 100%;
    height: auto; */
}

.weathericons {
    font-size: 1rem;
}

.card-img {
    border-radius: 0;
    /* width: 100%;
    height: auto; */
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

.toDoItem {
    display: inline-flex;
}

.remove-margin {  
    margin-left: 0px;
    margin-right: 0px;
}
.lookupBox::placeholder {
    color: red;
    opacity: 1;
}

input{
    margin-bottom: 2%;
    padding-left: 2%;
}
#data-img {
    width: 100px;
    height: 100px;
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}
.n {
    float: left;
}
hr {
    clear: left;
}
.title {
    margin-top: -5%;
}