@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

footer {
    background-color: #424242;
    color: #eeeeee;
    padding-top: 2rem;
}
footer a {
    color: #eeeeee;
}

.scroll {
    max-height: 100px;
    overflow-y: auto;
}

.remove-margin {  
    margin-left: 0px;
    margin-right: 0px;
}
.lookupBox::placeholder {
    color: red;
    opacity: 1;
}

input{
    margin-bottom: 2%;
}
#data-img {
    width: 100px;
    height: 100px;
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}
.n {
    float: left;
}
hr {
    clear: left;
}